.card{
    position: relative;
    width: 300px;
    height: 500px;
    padding: 40px;

}

.title{
    color: var(--Very_light_gray);
    font-size: 30px;
}

.text{
    color: var(--Transparent_white);
    font-size: 15px;
    
}

.image{
    display: block;
}

.button{
    position: absolute;
    bottom: 40px;
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: solid white 2px;
    font-size: 15px;
    
}


.card--sedans{
    background-color: var(--Bright-orange);
}

.card--suvs{
    background-color: var(--Dark_cyan);
}

.card--luxury{
    background-color: var(--Very_dark_cyan);
}

.card--sedans .button{
    color: var(--Bright-orange);
}

.card--suvs .button{
    color: var(--Dark_cyan);
}

.card--luxury .button{
    color: var(--Very_dark_cyan);
}

@media screen and (hover:hover) {
    .button:hover{
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
}